ProductsManager_WSDL.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.amoa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.amoa/" name="ProductsManagerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.amoa/" schemaLocation="http://localhost:2024/webservices/ProductsManager?xsd=1"/>
</xsd:schema>
</types>
<message name="addProduct">
<part name="product" type="tns:product"/>
</message>
<message name="addProductResponse">
<part name="productId" type="xsd:int"/>
</message>
<message name="getProducts"/>
<message name="getProductsResponse">
<part name="products" type="tns:products"/>
</message>
<message name="updateProduct">
<part name="product" type="tns:product"/>
</message>
<message name="updateProductResponse">
<part name="product" type="tns:product"/>
</message>
<message name="getProductPrice">
<part name="productId" type="xsd:int"/>
</message>
<message name="getProductPriceResponse">
<part name="price" type="xsd:double"/>
</message>
<message name="NoSuchProductException">
<part name="fault" element="tns:NoSuchProductException"/>
</message>
<message name="deleteAllProducts"/>
<message name="deleteAllProductsResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="getProduct">
<part name="productId" type="xsd:int"/>
</message>
<message name="getProductResponse">
<part name="product" type="tns:product"/>
</message>
<message name="deleteProduct">
<part name="productId" type="xsd:int"/>
</message>
<message name="deleteProductResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="ProductsManager">
<operation name="addProduct">
<input wsam:Action="http://webservices.amoa/ProductsManager/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="getProducts">
<input wsam:Action="http://webservices.amoa/ProductsManager/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
<operation name="updateProduct">
<input wsam:Action="http://webservices.amoa/ProductsManager/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="getProductPrice">
<input wsam:Action="http://webservices.amoa/ProductsManager/getProductPriceRequest" message="tns:getProductPrice"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/getProductPriceResponse" message="tns:getProductPriceResponse"/>
<fault message="tns:NoSuchProductException" name="NoSuchProductException" wsam:Action="http://webservices.amoa/ProductsManager/getProductPrice/Fault/NoSuchProductException"/>
</operation>
<operation name="deleteAllProducts">
<input wsam:Action="http://webservices.amoa/ProductsManager/deleteAllProductsRequest" message="tns:deleteAllProducts"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/deleteAllProductsResponse" message="tns:deleteAllProductsResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://webservices.amoa/ProductsManager/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/getProductResponse" message="tns:getProductResponse"/>
<fault message="tns:NoSuchProductException" name="NoSuchProductException" wsam:Action="http://webservices.amoa/ProductsManager/getProduct/Fault/NoSuchProductException"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://webservices.amoa/ProductsManager/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://webservices.amoa/ProductsManager/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
</portType>
<binding name="ProductsManagerImplPortBinding" type="tns:ProductsManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
</operation>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
</operation>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
</operation>
<operation name="getProductPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
<fault name="NoSuchProductException">
<soap:fault name="NoSuchProductException" use="literal"/>
</fault>
</operation>
<operation name="deleteAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
<fault name="NoSuchProductException">
<soap:fault name="NoSuchProductException" use="literal"/>
</fault>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</input>
<output>
<soap:body use="literal" namespace="http://webservices.amoa/"/>
</output>
</operation>
</binding>
<service name="ProductsManagerImplService">
<port name="ProductsManagerImplPort" binding="tns:ProductsManagerImplPortBinding">
<soap:address location="http://localhost:2024/webservices/ProductsManager"/>
</port>
</service>
</definitions>